<div class="row" style="overflow: hidden">
  <div class="col-xs-12" style="padding: 5px 15px; overflow: hidden;">
    <form>
      <div class="row">
        <mat-form-field class="col-lg-2 col-md-4 col-xs-6">
          <input matInput placeholder="Task Name">
        </mat-form-field>
        <mat-form-field class="col-lg-2 col-md-4 col-xs-6">
          <mat-select placeholder="Type">
            <mat-option *ngFor="let type of ['Ping']" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-lg-4 col-md-8 col-xs-12">
          <textarea matInput placeholder="Task Description"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <button mat-raised-button color="primary" type="submit" class="col-lg-4 col-md-8 col-xs-12 col-xs-offset-1" style="margin-top: 15px;"> Save </button>
      </div>
    </form>
  </div>
</div>
