<div class="row">
    <div class="col-xs-12" style="min-height: 5vh">
        <h2 style="padding-left: 10px"> {{ title }} - version {{ version }} - {{ status }} </h2>
    </div>
</div>

<div class="row">
    <div [ngClass]="{'col-xs-1': drawerOpened, 'col-xs-closed': !drawerOpened}" style="border-top: 1px solid black; padding-top: 10px; padding-left: 10px">
        <mat-drawer-container class="drawer-container" style="min-height: 95vh; overflow: hidden">
            <mat-drawer #drawer id="drawer" class="example-sidenav" mode="side" [ngClass]="{'drawer-opened': drawerOpened, 'drawer-closed': !drawerOpened}"
                (mouseenter)="openDrawer()" (mouseleave)="closeDrawer()">
                <div class="col-xs-12 routes">
                    <div class="row" *ngFor="let route of routes">

                        <div class="route-name" style="margin-top: 5px;" [ngClass]="{'col-xs-9': drawerOpened, 'col-xs-10': !drawerOpened}" *ngIf="route.name"> {{ route.name }} </div>
                        <div class="col-xs-2" style="padding: 5px" *ngIf="route.icon">
                            <i class="fa {{ route.icon }}" style="margin-left: 15px; margin-top: 5px" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-12 route-links" *ngIf="route.links">
                            <div class="row route-link" *ngFor="let link of route.links">
                                <div style="margin-top: 2.5px;" [ngClass]="{'col-xs-9': drawerOpened, 'col-xs-10': !drawerOpened}" (click)="navigateTo(link.path)"> {{ link.name }} </div>
                                <div class="col-xs-2" *ngIf="link.icon">
                                    <i class="fa {{ link.icon }}" style="margin-left: 10px; margin-top: 5px" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </mat-drawer>
        </mat-drawer-container>
    </div>
    <div class="col-xs-11" style="border-top: 1px solid black; border-left: 1px solid black; min-height: 95vh">
        <router-outlet></router-outlet>
    </div>
</div>
